<div class="flex flex-col gap-4 border-t p-4">
  <div class="flex flex-col items-center justify-center gap-4">
    <p class="typography-headline-3">Import Components</p>
  </div>
  <div
    class="m-auto w-full divide-y rounded-md border border-neutral-200 text-neutral-900 md:w-3/4"
  >
    <sf-accordion-item [(ngModel)]="isOpen">
      <div summary class="flex justify-between p-4 font-medium hover:bg-neutral-100">
        <p>{{ accordionItem.summary }}</p>
        <sf-icon-chevron-left
          [ngClass]="['text-neutral-500', isOpen ? 'rotate-90' : '-rotate-90']"
        />
      </div>
      <p class="p-4">{{ accordionItem.details }}</p>
    </sf-accordion-item>
  </div>
</div>
