<div class="m-auto my-6 w-10/12">
  <h1 class="text-center text-green-700 typography-headline-2">
    Welcome to Ng-Storefront UI playground
  </h1>

  <p class="my-6 text-center font-bold typography-text-lg">
    Fast, accessible, and fully customizable components built for e-commerce.
  </p>

  <import-comps></import-comps>

  <customize-comps></customize-comps>

  <copy-paste-blocks></copy-paste-blocks>

  <p class="my-6 text-center font-semibold typography-text-lg">
    New Ng-Strefront UI 0.0.10 Base component sf-textarea is here 🎉
  </p>
  <p class="text-center font-semibold typography-text-lg">(This is alpha version 😎)</p>

  <label>
    <span class="cursor-not-allowed font-medium text-disabled-900 typography-text-sm">
      Description
    </span>
    <textarea
      sf-textarea
      placeholder="Write something about yourself..."
      class="w-full !bg-disabled-100 !ring-1 !ring-disabled-300"
    ></textarea>
  </label>

  <div class="mt-0.5 flex justify-between">
    <div>
      <p class="text-disabled-500 typography-text-xs">
        Do not include personal or financial information.
      </p>
    </div>
  </div>

  <p class="mt-6 text-center font-semibold typography-text-lg">
    Feel free to delete it all and start building your own UI 😉
  </p>
</div>
