<div class="flex flex-col items-center justify-center gap-4 border-y p-4">
  <p class="typography-headline-3">Copy/Paste pre-built Blocks</p>
  <div
    class="flex min-w-[320px] max-w-[640px] border-b-[1px] border-neutral-200 p-4 hover:shadow-lg"
  >
    <div class="relative w-[100px] overflow-hidden rounded-md sm:w-[176px]">
      <a sf-link href="#">
        <img
          class="h-auto w-full rounded-md border border-neutral-200"
          src="https://storage.googleapis.com/sfui_docs_artifacts_bucket_public/production/smartwatch.png"
          alt="Smartwatch Fitness Tracker"
          width="176"
          height="176"
        />
      </a>
      <div
        class="absolute left-0 top-0 bg-secondary-600 py-1 pl-1.5 pr-2 font-medium text-white typography-text-xs"
      >
        <sf-icon-sell size="xs" class="mr-1" />
        Sale
      </div>
    </div>
    <div class="flex min-w-[180px] flex-1 flex-col pl-4">
      <a
        sf-link
        href="#"
        variant="secondary"
        class="no-underline typography-text-sm sm:typography-text-lg"
      >
        Smartwatch Fitness Tracker
      </a>
      <div class="my-2 sm:mb-0">
        <ul class="font-normal leading-5 text-neutral-700 typography-text-xs sm:typography-text-sm">
          <li>
            <span class="mr-1">Size:</span>
            <span class="font-medium">6.5</span>
          </li>
          <li>
            <span class="mr-1">Color:</span>
            <span class="font-medium">Red</span>
          </li>
        </ul>
      </div>
      <div class="items-center sm:mt-auto sm:flex">
        <span class="font-bold typography-text-sm sm:order-1 sm:ml-auto sm:typography-text-lg">
          $2,345.99
        </span>
        <div class="mt-4 flex items-center justify-between sm:mt-0">
          <div class="mr-auto flex sm:mr-4">
            <button
              sf-button
              type="button"
              variant="tertiary"
              [disabled]="count() <= min()"
              [square]="true"
              class="rounded-r-none border-y border-l border-neutral-300"
              aria-label="Decrease value"
              (click)="decrease()"
            >
              <sf-icon-remove />
            </button>
            <input
              [ngModel]="count()"
              (ngModelChange)="count.set($event)"
              type="number"
              role="spinbutton"
              class="appearance-none rounded-none border-y border-neutral-300 px-2 text-center [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none"
              [min]="min()"
              [max]="max()"
            />
            <button
              sf-button
              type="button"
              variant="tertiary"
              [disabled]="count() >= max()"
              [square]="true"
              class="rounded-l-none border-y border-r border-neutral-300"
              aria-label="Increase value"
              (click)="increase()"
            >
              <sf-icon-add />
            </button>
          </div>
          <button
            aria-label="Remove"
            type="button"
            class="ml-auto flex items-center px-3 py-1.5 font-light text-neutral-500 typography-text-xs"
          >
            <sf-icon-delete />
            <span class="ml-1.5 hidden sm:block"> Remove </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
